header,
footer,
section,
nav,
article {
  display: block;
}

/* SET SOME properties for the BODY
margin auto gets you a centred web page*/
BODY {
  margin: 0 auto;
  width: 940px;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #3e1e14;
  background-color: #C2C2C1;
}

H1 {
  color: #3e1e14;
}

H2 {
  text-align: center;
  color: #3e1e14;
}

HEADER#Banner {
  width: 940px;
  height: 100px;
  margin: 35px 5px 5px 5px;
  margin-bottom: 30px;
  text-align: center;
  background-color: #C2C2C1;
}

FOOTER {
  width: 940px;
  height: 30px;
  margin-top: 10px;
  border: 0px solid #3e1e14;
  text-align: center;
  background-color: #C2C2C1;
}

/* Start Holly Hack, hidden from MacIE. \*/
#navcontainer {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  border-top: 2px solid #3e1e14;
  z-index: 1;
  font-family: 'Poppins', sans-serif;
  font-size: 22px;
  font-variant: small-caps;
  font-weight: 400;
}

#navcontainer ul {
  list-style-type: none;
  text-align: center;
  margin-top: -8px;
  padding: 0;
  position: relative;
  z-index: 2;
}

#navcontainer li {
  display: inline;
  text-align: center;
  margin: 0 5px;
}

#navcontainer li a {
  padding: 1px 7px;
  color: #3e1e14;
  background-color: #C2C2C1;
  border: 1px solid #3e1e14;
  text-decoration: none;
}

#navcontainer li a:hover {
  color: #3e1e14;
  border: 1px solid #3e1e14;
  border-top: 2px solid #3e1e14;
  border-bottom: 2px solid #3e1e14;
}

#navcontainer li a#current {
  color: #3e1e14;
  font-style: bold;
  border: 2px solid #3e1e14;
  border-top: 2px solid #3e1e14;
  border-bottom: 2px solid #3e1e14;
}

/* End Nav */

SECTION#Section_Article_1 {
  width: 920px;
  height: 475px;
  margin-top: 20px auto;
  margin-bottom: 20px auto;
  padding-right: 10px;
  padding-left: 10px;
  padding-top: 0px;
  border: 0px solid #3e1e14;
  background-color: #C2C2C1;
}