header,
footer,
section,
nav,
article {
  display: block;
}

/* SET SOME properties for the BODY
margin auto gets you a centred web page*/
BODY {
  margin: 0 auto;
  width: 940px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 13px;
  background-color: #E9E5DD;
}

H1 {
  color: #851526;
}

H2 {
  text-align: center;
  color: #851526;
}

HEADER#Banner {
  width: 940px;
  height: 100px;
  margin: 5px auto;
  text-align: center;
  background-color: #E9E5DD;
}

FOOTER {
  width: 940px;
  height: 40px;
  margin: 5px auto;
  border: 1px solid #851526;
  text-align: center;
  background-color: #E9E5DD;
}

/* Start Holly Hack, hidden from MacIE. \*/
#navcontainer {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  border-top: 1px solid #851526;
  z-index: 1;
}

#navcontainer ul {
  list-style-type: none;
  text-align: center;
  margin-top: -8px;
  padding: 0;
  position: relative;
  z-index: 2;
}

#navcontainer li {
  display: inline;
  text-align: center;
  margin: 0 5px;
}

#navcontainer li a {
  padding: 1px 7px;
  color: #666;
  background-color: #E9E5DD;
  border: 1px solid #851526;
  text-decoration: none;
}

#navcontainer li a:hover {
  color: #000;
  border: 1px solid #851526;
  border-top: 2px solid #851526;
  border-bottom: 2px solid #851526;
}

#navcontainer li a#current {
  color: #000;
  border: 2px solid #851526;
  border-top: 2px solid #851526;
  border-bottom: 2px solid #851526;
}

/* End Nav */

ARTICLE#Article_1 {
  width: 900px;
  height: 500px;
  background-color: #E9E5DD;
  border: 1px solid #851526;
}

HEADER#Header_Article_1 {
  width: 900px;
  height: 40px;
  background-color: #E9E5DD;
  border: 1px solid #851526;
}

SECTION#Section_Article_1 {
  width: 850px;
  height: 400px;
  margin-top: 20px;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 20px;
  border: 1px solid #851526;
  background-color: #E9E5DD;
}
